body {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
}

#main {
    border: 5px solid black;
    width: 1000px;
    height: 800px;
    background-color: salmon;
}

#header {
    height: 50px;
    border: 5px solid black;
    text-align: center;
    padding-bottom: 25px;
}

#nav-bar {
    height: 50px;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 35px;
    border-spacing: 10px;
}

.nav-btn {
    border: 2px dotted black;
    padding: 2px;
}

#content {
    height: 520px;
    width: 650px;
    text-align: center;
    margin: auto;
    padding: 5px;
}

#loremIpsum {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 4px double springgreen;
}
