body {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
}

#main {
    border: 5px solid black;
    width: 1000px;
    height: 800px;
    background-color: salmon;
    font-family: 'Playwrite IE';

    /* animation-name: sizeChange;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

#header {
    height: 50px;
    border: 5px solid black;
    text-align: center;
    padding-bottom: 25px;

    /* animation-name: textColorChange;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
}

#header:hover {
    font-size: 100px;
}

#nav-bar {
    height: 50px;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 35px;
    border-spacing: 10px;
}

.nav-btn {
    border: 2px dotted black;
    padding: 2px;
}

#content {
    height: 520px;
    width: 650px;
    text-align: center;
    margin: auto;
    padding: 5px;

    /* animation-name: percentageAnimation;
    animation-duration: 12s;
    animation-iteration-count: infinite; */
}

#loremIpsum {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 4px double springgreen;
}

a:visited {
    color: limegreen;
}

/* animations */
@keyframes textColorChange {
    from {
        color: black;
    }
    to {
        color: magenta;
    }
}

@keyframes sizeChange {
    from {
        font-size: 10px;
    }
    to {
        font-size: 69px;
    }
}

@keyframes percentageAnimation {
    0% {
        background-color: salmon;
        font-size: 0px;
        transform: rotate(0deg);
    }
    10% {
        background-color: darkcyan;
        border: 5px double palegoldenrod;
        font-size: 10px;
    }
    11% {
        background-color: fuchsia;
        border: 5px doube forestgreen;
        font-size: 4px;
    }
    21% {
        border: 10px double forestgreen;
        font-size: 8px;

        transform: rotate(260deg);
    }
    48% {
        background-color: white;
        border: 0px;
        font-size: 0%;
    }
    60% {
        background-color: lime;
        border: 10% double palegoldenrod;
        font-size: 20%;
    }
    67% {
        background-color: salmon;
        border: 5px double indigo;
    }
    99% {
        background-color: yellowgreen;
        border: 30% dotted fuchsia;
        font-size: 60%;
        transform: rotate(2478deg);
    }
    100% {
        background-color: salmon;
        border: 0px;
        font-size: 0px;
    }
}
